<nav class="h-10">
  <div class="flex flex-row">
    <div class="flex justify-center">
      <img class="h-10" src="../../../assets/logo.png" alt="" />
    </div>
    <div class="flex flex-row justify-between items-center ml-1 mr-1 w-full">
      <div class="sm:ml-2 lg:ml-5">
        <ul class="flex flex-row sm:space-x-4 lg:space-x-12">
          <li
            class="font-semibold hover:underline cursor-pointer hover:text-[#E50914]"
          >
            Home
          </li>
          <li
            class="font-semibold hover:underline cursor-pointer hover:text-[#E50914]"
          >
            Web Series
          </li>
          <li
            class="font-semibold hover:underline cursor-pointer hover:text-[#E50914]"
          >
            Movies
          </li>
          <li
            class="font-semibold hover:underline cursor-pointer hover:text-[#E50914]"
          >
            Originals
          </li>
          <li
            class="font-semibold hover:underline cursor-pointer hover:text-[#E50914]"
          >
            Recently Added
          </li>
          <li
            class="font-semibold hover:underline cursor-pointer hover:text-[#E50914]"
          >
            My List
          </li>
        </ul>
      </div>
      <div class="">
        <div class="relative inline-block text-left">
          <button class="focus:outline-none" (click)="toggleDropdown()">
            <img
              class="h-9 rounded-full mt-1"
              src="{{ userProfilePhoto }}"
              alt=""
            />
          </button>
          <div
            [ngClass]="{ hidden: !dropdownVisible }"
            class="origin-top-right absolute right-0 mt-2 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5 focus:outline-none"
            id="dropdown-menu"
          >
            <div class="">
              <span class="inline-block px-4 py-2 text-sm hover:bg-gray-100"
                >{{ userEmail }}
              </span>

              <button
                (click)="signOut()"
                class="w-full px-4 py-2 font-medium hover:text-[#E50914] hover:bg-gray-100"
              >
                Sign Out
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>

<h1 class="sm:text-xl sm:m-3 lg:text-2xl lg: ml-4 lg:mt-5 font-medium">
  Welcome {{ userName }}.
</h1>
