<div class="container px-20 mt-14 mb-20">
  <p class="font-semibold text-2xl my-3 ml-3">{{ title }}</p>
  <div #swiperContainer class="swiper-container">
    <div class="swiper-wrapper">
      <ng-container *ngFor="let movie of videoContent">
        <div
          id="openModalBtn"
          (mouseenter)="setHoverMovie(movie)"
          (mouseleave)="clearHoverMovie()"
          (click)="openModal(movie)"
          class="swiper-slide relative"
        >
          <img
            [src]="'https://image.tmdb.org/t/p/w500' + movie.poster_path"
            [alt]="movie.original_title"
          />
          <div
            @fade
            *ngIf="
              movie.title === this.selectedContent ||
              movie.name === this.selectedContent
            "
            class="desc p-2"
          >
            <span class="text-base flex flex-wrap font-bold">{{
              movie.original_title ? movie.original_title : movie.name
            }}</span>
            <p class="text-xs my-3">{{ movie.overview | description }}</p>
            <div class="py-3 absolute w-[90%] bottom-1">
              <p class="text-xs flex justify-between items-center">
                <span class="text-green-500"
                  >Vote Average :
                  {{ movie.vote_average | number : "1.0-0" }}</span
                >

                <i
                  class="fa fa-2x fa-chevron-circle-down"
                  aria-hidden="true"
                ></i>
              </p>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>

<div
  *ngIf="isModalOpen"
  class="z-20 fixed inset-0 bg-gray-900 bg-opacity-75 flex items-center justify-center"
>
  <div class="text-neutral-200 bg-[#141414] rounded-lg p-4 h-[90%] w-[90%]">
    <div class="flex justify-between items-center">
      <h2 class="sm:text-2xl lg:text-4xl font-bold">
        {{ temp.original_title ? temp.original_title : temp.original_name }}
      </h2>
      <button
        (click)="closeModal()"
        class="text-white text-3xl rounded-full hover:text-[#E50914]"
      >
        &#x2716;
      </button>
    </div>
    <div class="mt-4">
      <p>
        <span class="font-bold sm:text-xl">Overview : </span>{{ temp.overview }}
      </p>
    </div>

    <div class="flex flex-row items-center">
      <span class="font-bold sm:text-xl">Genres :</span>
      <ul class="flex flex-row m-2 justify-center items-center overflow-auto">
        <li *ngFor="let genres of genre">
          <button
            class="bg-slate-700 rounded-full px-3 py-2 m-1 hover:text-red-500 cursor-auto"
          >
            {{ genres }}
          </button>
        </li>
      </ul>
    </div>

    <div class="flex flex-row justify-center space-x-52 items-center">
      <button (click)="trailerToggler()" class="font-bold sm:text-xl m-2">
        Watch Trailer
      </button>
      <button class="font-bold sm:text-xl m-2">More Info</button>
    </div>
    <iframe
      class="sm:w-[100%] sm:h-[50%]"
      [src]="videoUrl"
      frameBorder="0"
      allowFullscreen="allowfullscreen"
    ></iframe>
  </div>
</div>
