<iframe
  class="w-full h-full absolute"
  [src]="videoUrl"
  frameBorder="0"
  allowFullscreen="allowfullscreen"
></iframe>

<div class="h-screen bg-white">
  <div
    class="lg:pt-[25%] lg:pl-[9%] sm:pt-[53%] px-24 h-full absolute text-white bg-gradient-to-r from-black"
  >
    <div class="flex flex-row justify-center items-center">
      <div class="lg:m-10 sm:mr-5">
        <img
          class="rounded-lg"
          [src]="'https://image.tmdb.org/t/p/w500' + imageUrl"
          [alt]=""
        />
      </div>
      <div class="py-5">
        <h1 class="lg:text-6xl sm:text-4xl md:text-5xl font-bold">
          {{ bannerTitles }}
        </h1>
        <p
          class="inline-block ml-3 py-3 lg:text-xl sm:text-lg lg:w-1/2 sm:w-3/4 flex-wrap"
        >
          {{ bannerOverview | description }}
        </p>
        <div class="lg:mt-5 lg:ml-2 lg:w-[50%]">
          <button
            class="bg-white text-black lg:py-4 lg:px-12 lg:text-xl sm:py-2 sm:px-8 sm:text-lg rounded-lg hover:bg-opacity-70 transition-[1s] ml-4"
          >
            ► Play
          </button>
          <button
            class="bg-gray-500 text-white lg:py-4 lg:px-12 bg-opacity-50 lg:text-xl sm:py-2 sm:px-8 sm:text-lg rounded-lg hover:bg-opacity-25 transition-[1s] ml-4"
          >
            More Info
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
