<section class="h-screen w-screen bg-black absolute">
  <img
    class="size-full filter brightness-50"
    src="../../../assets/banner.jpg"
    alt=""
  />
</section>
<div
  class="outline-dashed relative outline-white h-screen w-screen flex flex-col justify-center items-center gap-y-5"
>
  <span class="text-white font-extrabold sm:m-5 lg:m-7 sm:text-2xl lg:text-3xl">
    Unlimited movies, TV shows and more.
  </span>

  <span class="text-white font-semibold sm:text-xl lg:text-2xl">
    Ready to NETFLIX? Login with your Google account and Chill.
  </span>

  <div class="sm:m-4 lg:m-6">
    <div id="google-btn"></div>
  </div>
</div>
