<app-banner
  [bannerTitles]="(bannerDetail$ | async)?.original_title"
  [bannerOverview]="(bannerDetail$ | async)?.overview"
  [videoKey]="(bannerVideo$ | async)?.results[0].key"
/>
<app-movie-carousel [videoContent]="movies" [title]="'Popular on NETFLIX'" />
<app-movie-carousel [videoContent]="tvShows" [title]="'Trending TV Shows'" />
<app-movie-carousel
  [videoContent]="nowPlayingMovies"
  [title]="'Now Playing Movies'"
/>
<app-movie-carousel [videoContent]="popularMovies" [title]="'Popular Movies'" />
<!-- <app-movie-carousel
  [videoContent]="topRatedMovies"
  [title]="'Top Rated Movies'"
/> -->
<app-movie-carousel
  [videoContent]="upcomingMovies"
  [title]="'Upcoming Movies'"
/>
